<a href="https://colab.research.google.com/github/majorquev/DBDC_202209_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/Clase1/Clase_1_02_vectores_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## 3. Vectores y matrices

### 3.1 Vectores

En R, así como en la mayoría de los lenguajes de programación, uno de los objetos más usuales para almacenar información son los vectores, los que corresponden a arreglos unidimensionales que almacenan un mismo tipo de dato en cada una de sus entradas.

Todo vector en R se puede declarar con la letra "c" seguido de los elementos que lo componen entre paréntesis y separados por comas.

In [1]:
# Declaración de dos vectores
v1 <- c(1,1,2,3,5,8)

In [2]:
v1

[1] 1 1 2 3 5 8

In [3]:
# clase y tipo de dato
class(v1)

[1] "numeric"

In [7]:
# vectores lógicos
V2 <- c(T,T,F,T)
V2

[1]  TRUE  TRUE FALSE  TRUE

In [9]:
# Nombres de las entradas de un vector
V3 <- c(n1 = 1, n2 = 10, n3 = 89 )
V3

n1 n2 n3
 1 10 89

In [10]:
# nombres de las entradas con la función, names() # Retorna un vector con nombres
names(V3)

[1] "n1" "n2" "n3"

In [11]:
names(v1)

NULL

In [ ]:
# podemos asignar los nombres a vector 1

In [12]:
names(v1) <- c("p1","p2","p3","p4","p5","p6")

In [13]:
v1
names(v1)

p1 p2 p3 p4 p5 p6
 1  1  2  3  5  8

[1] "p1" "p2" "p3" "p4" "p5" "p6"

In [14]:
#combinar vectores
w1 <- c(2,5)
w2 <- c(1,50)

In [15]:
c(w1,w2)

[1]  2  5  1 50

In [ ]:
# c : es una abreviación de "combine"

#### 3.1.1 Acceso a los elementos de un vector

El acceso a los elementos de un vector se puede llevar acabo indicando la posición del elemento (los naturales parten en 1!), el nombre de la casilla que lo contiene, o bien mediante sentencias lógicas que retornen "TRUE" en la posición deseada.

In [17]:
# Mediante posición
V3[2]

n2
10

In [18]:
# retorna los elementos de las casillas 1  y 4 de v1
v1[c(1,4)]

p1 p4
 1  3

In [22]:
v1[1,4]# No aplica para el caso ed arreglos unidimensionales como los vectores.

ERROR: ignored

In [20]:
#NOTA 3:5, R lo interpreta como c(3,4,5)
3:5
c(3,4,5)

[1] 3 4 5

[1] 3 4 5

In [21]:
v1[3:6] # Los elemntos desde la posiciòn 3 hasta la 6.

p3 p4 p5 p6
 2  3  5  8

In [23]:
# podemos acceder a los elmentos mediante el nombre
v1["p3"]

p3
 2

In [24]:
v1[c("p1","p4")]

p1 p4
 1  3

In [26]:
# cambiar una entrada de un vector o cambiar un nombre
# Queremos modificar la pos 4 de v1, y cambiarla por un 99

v1[4] <- 99

In [27]:
v1

p1 p2 p3 p4 p5 p6
 1  1  2 99  5  8

In [30]:
# podemos cambiar uno de los nombres (ej, queremos cambiar el sexto nombre de v1)

names(v1)[6] <- "nuevo_nombre"

In [31]:
v1

          p1           p2           p3           p4           p5 nuevo_nombre
           1            1            2           99            5            8

In [32]:
letras <- LETTERS

In [33]:
letras

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [35]:
# podemos modificar varias posiciones a la vez
# queremos re-asignar los valores "XX" y "ZZ" en las posiciones 3 y 7 respecivamente
letras[c(3,7)] <- c("XX","ZZ")

In [36]:
letras

 [1] "A"  "B"  "XX" "D"  "E"  "F"  "ZZ" "H"  "I"  "J"  "K"  "L"  "M"  "N"  "O"
[16] "P"  "Q"  "R"  "S"  "T"  "U"  "V"  "W"  "X"  "Y"  "Z"

# NOTA:
El largo de un vetor lo podemos obtener con la función `length()`

In [38]:
length(letras)
length(v1)

[1] 26

[1] 6

**Algunas sentencias de utilidad**

También es posible acceder a los alementos de un vector mediante sentencias lógicas que retornen "TRUE" en la posición deseada. Para ello algunas funciones que son de utilidad son las siguientes.

   **Conectores lógicos**

    &, && |                  : conector y 
    |,||                     : conector o
    ==                       : igual
    !                        : negación
    !=                       : distinto
    >, >=                    : mayor que, mayor o igual que
    <,<=                     : menor que, menor o igual que
    is.na()                  : es NA?
    which()                  : en qué posición es verdadera la expresión evaluada?
    which.min(), which.max() : en qué posición se alcanza el mínimi/máximo
    %in%                     : los elementos están en?

In [40]:
# Esto facilita la búsqueda dentro de un un vector. Ej: retornar los elementos mayores aun valor dado

edad <- c(11,18,34,56,80,18)

In [41]:
edad == 18

[1] FALSE  TRUE FALSE FALSE FALSE  TRUE

In [42]:
edad <= 18

[1]  TRUE  TRUE FALSE FALSE FALSE  TRUE

In [45]:
# para acceder a elementos de un vector tenemos:
# 1. por posicion
# 2. por nombre
# 3. por indicatrices lógicas (un vector con TRUE (T) o FALSE (F) del mismo largo del que quiero consultar)

nv <- c(10,40,60)
#Busco rescatar los elementos 10 y 60
nv[c(T,F,T)]

[1] 10 60

In [46]:
# con esta idea en mente podríamos, por ejemplo, rescatar las edades con valor menor o igual a 18 años (sin saber donde están)
edad[edad <= 18]

[1] 11 18 18

In [48]:
# podríamos guardar el vector de T o F's en una variable para luego referenciarla
ind <- edad <= 18

edad[ind]

[1] 11 18 18

In [50]:
#which: Retorna la posición donde se cumple la condición indicada

which(edad <= 18)# Retorna las posiciones donde la edad es menor o igual a 18.
which(!(edad <= 18)) # Retorna las posiciones donde la edad NO es menor o igual a 18.

[1] 1 2 6

[1] 3 4 5

In [52]:
#?which.max (which.min) # Retorna la posiciòn donde se alcanza el primer máximo (mínimo)

edad2 <- c(17,18,30, 40, 17,40)

which.max(edad2)
which.min(edad2)

[1] 4

[1] 1

In [55]:
min(edad2)
max(edad2)

[1] 17

[1] 40

In [57]:
#Otra alternativa

which(edad2 == min(edad2))  
which(edad2 == max(edad2))

[1] 1 5

[1] 4 6

In [59]:
# NOTA
edad3 <- c(edad2,NA,50)
edad3

[1] 17 18 30 40 17 40 NA 50

In [61]:
# Si queremos ubicar la posiciòn del NA

which(is.na(edad3))

[1] 7

In [ ]:
# Operador %in%
# vector_a %in% vector_b (qué elementos del vector a están en el vector b)
# retorna un  vector de TRUE's y FALSE's del largo del primer vector(a) (izquierda)

In [ ]:
# podemos utilizar la función all() para evaluar si todos los elementos de un vector son TRUE.

In [ ]:
# si quisiéramos evaluar que todos los elementos de la izq. estén en la derecha,
# podemos utilizar la función all().

In [ ]:
# aritmética con vectores
# operación de vectore de igual largo

In [ ]:
#ponderaciones por escalares

In [ ]:
#CUIDADO: Si se operan vectores de dstinto largo se reciclan los valores del vector más pequeño

In [ ]:
# NOTA:
# podemos determinar el largo de un vector mediante la función length()

**Secuencias**

En R es posible generar de manera rápida y sencilla algunas secuencias numéricas y almacenarlas en un vector.

Ejemplo de estas funciones son :

    rep()
    seq()
    
Más adelante veremos como generar números aleatorios siguiendo alguna función de distribución de interés.

In [ ]:
# a vimos que fácilmente ppodemos generar vectores de enteros consecutivos vía ":"

In [ ]:
# Ejemplo de secuencia con rep (utilice distintos tipos de datos)

In [ ]:
# podemos controlar el largo del vector resultante con el parámetro length.out

In [ ]:
# ejemplo de función seq (utilice argumento by, y otro ejemplo con argumento length.out)

In [ ]:
# ejemplo de vector aleatorio siguiendo una determinada distribución

# distribución uniforme
# distribución normal

### 3.2 Funciones (primera parte) 

#### 3.2.1 Funciones vectorizadas y operaciones con vectores

R es un lenguaje funcional, en el sentido de que prácticamente cada llamada a R corresponde a una función que puede (o no) recibir argumentos de entrada.
Una de las ventajas es que existe una amplia, muy amplia,... verdaderamente amplia!, variedad de funciones disponibles, tanto en las librerías que vienen con la instalación por defecto como las librerías disponibles en CRAN o en toda la comunidad R.

En R, una función $f$ se dice vectorizada si dado un vector $\mathbf{x}=(x_1,x_2,\dots,x_n)$, se tiene que $f(\mathbf{x})=(f(x_1),f(x_2),\dots,f(x_n))$.
Esto hace que, por ejemplo, la aritmética de vectores se más sencilla de implentar y con un menor tiempo de cómputo . Gran parte de las funciones disponibles en la librerías (bibliotecas o *packages*) de R corresponden a funciones vectorizadas.
A modo de ejemplo, a cotinuación se muestran algunas funciones (de las más básicas) aritméticas, y funciones para trabajar con texto:
    
    +,-,*,/
    abs()
    sqrt()
    cos()
    sin()
    tan()
    nchar()
    susbtr()
    grepl()
    gsub()

In [ ]:
# 3.2. Funciones (primera parte) ------------
# 3.2.1 Funciones vectorizadas 
# Ejemplos básicos de funciones(vectorizadas)

In [ ]:
# funciones para manipular texto
 #cantidad de caracteres

In [ ]:
# substring substr()

In [ ]:
# grepl() evlaúa si un  caracter está contenido en otro. (LIKE)
#?grepl()
grepl("ala", "palabra")
grepl("alo", "palabra")


#gsub() reemblaza un substring por otro
#?gsub

# si reemplazamos en un vector de palabras

In [ ]:
#gsub() reemplaza caracteres dentro de un texto
#https://www.tidytextmining.com/